@charset 'UTF-8';

body {
    background: rgb(105, 105, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: white;
    text-align: center;
    
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.495);

}

div {
    text-align: center;
    padding: 10px;
}

 img {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}